
<div class="container">
    <div class="w-75 mx-auto py-5">
        <form [formGroup]="resetPasswordForm">
            <h2>Reset Your Account Password:</h2>
            <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
         
            <div>
                <label for="email">email</label>
                <input formControlName="email" type="email" class="form-control">
                <div *ngIf="resetPasswordForm.get('email')?.errors&&resetPasswordForm.get('email')?.touched" class="alert alert-danger">
                    <p *ngIf="resetPasswordForm.get('email')?.getError('required')">email is required</p>
                    <p *ngIf="resetPasswordForm.get('email')?.getError('email')">email is not vaild</p>
                </div>
            </div>
            <div>
                <label for="newPassword">password</label>
                <input formControlName="newPassword" type="text" class="form-control">
                <div *ngIf="resetPasswordForm.get('newPassword')?.errors&&resetPasswordForm.get('newPassword')?.touched" class="alert alert-danger">
                    <p *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">password is required</p>
                    <p *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">password should have a Special char and lower or Upper case</p>
                </div>
            </div>
            <button *ngIf="!isLoading" [disabled]="resetPasswordForm.invalid" (click)="sendData(resetPasswordForm)" class="btn bg-main text-white my-3">Reset Password </button>
            <button *ngIf="isLoading" class="btn bg-main text-white my-3"><i class="fa-solid fa-spinner fa-spin text-white"></i></button>
        
        </form>
    </div>
</div>
