<div class="container">
    <div class="w-75 mx-auto py-5">
        <form [formGroup]="FogetPasswordForm">
            <div>
                <label for="email">email</label>
                <input formControlName="email" type="email" class="form-control">
                <div *ngIf="FogetPasswordForm.get('email')?.errors&&FogetPasswordForm.get('email')?.touched"
                    class="alert alert-danger">
                    <p *ngIf="FogetPasswordForm.get('email')?.getError('required')">email is required</p>
                    <p *ngIf="FogetPasswordForm.get('email')?.getError('email')">email is not vaild</p>
                </div>
            </div>
            <div>

                <button *ngIf="!isLoading" [disabled]="FogetPasswordForm.invalid" (click)="onSumbit()"
                    class="btn bg-main text-white my-3">Verify</button>
                <button *ngIf="isLoading" class="btn bg-main text-white my-3"><i
                        class="fa-solid fa-spinner fa-spin text-white"></i></button>
        
    </div>
    </form>
</div>